<h3>Récapitulatif : </h3>
<table>
    <tr>
        <td>Nom : </td>
        <td>{{client.nom}}</td>
    </tr>
    <tr>
        <td>Prénom : </td>
        <td>{{client.prenom}}</td>
    </tr>
    <tr>
        <td>Adresse : </td>
        <td>{{client.adresse}}</td>
    </tr>
    <tr>
        <td>Code postale : </td>
        <td>{{client.postal}}</td>
    </tr>
    <tr>
        <td>Pays : </td>
        <td>{{client.pays}}</td>
    </tr>
    <tr>
        <td>Tél: </td>
        <td>{{client.phone}}</td>
    </tr>
    <tr>
        <td>E-mail : </td>
        <td>{{client.mail}}</td>
    </tr>
    <tr>
        <td>--------</td>
        <td>--------</td>
    </tr>
    <tr>
        <td>Identifiant : </td>
        <td>{{client.identifiant}}</td>
    </tr>
    <tr>
        <td>Mot de passe : </td>
        <td>{{client.password}}</td>
    </tr>
</table>